@font-face {
    font-family: 'Oswald';
    src: url('../fonts/Oswald/Oswald-VariableFont_wght.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Oswald Bold';
    src: url('../fonts/Oswald/Oswald-VariableFont_wght.ttf') format('truetype');
    font-style: normal;
    font-weight: 600;
}

$font__first: "'Rubik', sans-serif";
$font__second: 'Arial';
$font__second_bold: 'Arial Black';
$font__third: 'Oswald';
$font__third_bold: 'Oswald Bold';
$logo__text_color: #f7a900;
$logo__text_color_gr: #fad27c;
$bgcolor_blue: #0076d5;
$bgcolor_blue_gr: #84c4f8;
$btn_color: #ffc123;
$btn_color_gr: #f8dd99;
$btn_hover_color: #e0a101;
$bg-menu__plate_color: #2c2c2c;
$bg-menu__plate_hover: #4d4b4b;
$bg-form__plate_color: #d5ecff;
$bg-cell-cost: #eaf5ff;
$bg__stars_color: #fe8f00;
$bg__stars_color_gr: #f8c481;
$bg__footer_color: #434955;
$container__width: 1520px;
$container2__width: 1140px;
// $container2__width: 900px;
$text__menu_color: #0076d5;
$text__main_color: #000;
$text__second_color: #fff;
$text__subtitle_color: #999999;
$anim_transition: 0.5s;
$anim_transition_err: 1s;
